<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="screen, projection"
	href="../../bootstrap.css"
	th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" href="../../font-awesome.css" th:href="@{/css/font-awesome.css}"/>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div class="container fluid">
		<h1>Sample TOEFL Structure and Written Expression Questions</h1>
		
		<div class="list-group" th:each="question : ${questions}">
			<div class="list-group-item">
				<p><span class="badge badge-pill badge-info" th:text="${question.id} + '.'">1.</span> <b class="badge badge-pill badge-secondary" th:text="${question.content}"></b>
				<div class="form-check form-check-inline" th:each="answer : ${question.answers}">
					<div class="custom-control custom-radio custom-control-inline">
  						<input type="radio" th:id="${question.id} + ${answer.id}" th:name="${question.id}" class="custom-control-input">
  						<label class="custom-control-label" th:for="${question.id} + ${answer.id}" th:text="'(' + ${answer.id} + ') ' + ${answer.description}">Canada</label>
					</div>
				</div>
			</div>		
			
		</div>
	</div>
</body>
</html>